@font-face {
   font-family: BoomBox;
   src: url(BoomBoxFree.otf);
}
.nav-item {
     font-family: BoomBox
}
.card-title {
     font-family: BoomBox
}
.carousel-caption{
     font-family: BoomBox
}
.not_defined{
     font-family: BoomBox
}
